/node_modules/*
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/shift-manager-backend.iml
.idea/vcs.xml
data_backup/shift-manager.users.csv
environment/.env.dev
environment/.env.prod
